@import url('./flex.css');
@import url('./typography.css');
@import url('./font.css');
@import url('./color.css');
@import url("./size.css");
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* nav bar */
.nav__bar{
    width:100%;
    height:50px;
    background-color:transparent;
    font-weight: var(--font-bold);
    font-family: Arial, Helvetica, sans-serif ;
    display: flex;
    flex-direction: var(--flex-row);
    justify-content: space-around;
    align-items: center;
    color:red;
}
.container__account{
    height:70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}
.login{
    color:transparent;
    font-size: var(--font-4);

}
.logout{
    color:transparent;
    font-size: var(--font-4);
}
.container__log{

    display:flex;
    flex-direction: column;
}
.container__log :hover{
    cursor:pointer;
    transition: 1000ms ease-in-out;
    background-color: rgb(0, 0, 0);
    border-style: solid ;
    border-radius: 5px;
    color:red;

}
.icon1{
    width:20px;
    height:15px;
}
a{
    text-decoration: none;
    color:var(--red-color);
}
/* nav-bar */
body{
    margin:0;
    padding:0;
    background-image: url(../img/background13.jpg);
    font-family: Arial, Helvetica, sans-serif;
}
.login__box{
    width:320px;
    height:420px;
    background:#000;
    color:#fff;
    top:50%;
    left:50%;
    position: absolute;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    padding:70px 30px;
}
.avatar{
    width:70px;
    position:absolute;
    margin-top:-100px;
    margin-left: 29%;
}
h1{
    padding:0 0 20px;
    margin:0;
    text-align: center;
    font-size:22px;
}
.login__box p{
    margin:0;
    padding:0;
    font-weight: var(--font-bold);
}
.login__box input{
    width:100%;
    margin-bottom:20px;
}
.login__box input[type="email"], input[type="password"]{
    border:none;
    border-bottom:1px solid #fff;
    background:transparent;
    outline:none;
    height:40px;
    color:#fff;
    font-size: var(--font-4);
}
.login__box input[type="submit"]{
    border:none;
    outline: none;
    height:40px;
    background:#fb2525;
    color:#fff;
    font-size: 18px;
    border-radius: 20px;
}
.login__box input[type="submit"]:hover{
cursor:pointer;
background: #00ffff;
color: var(--black-color);
}
.login__box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color:darkgrey;
}
.login__box a:hover{
    color:aqua;
}