@import url('./flex.css');
@import url('./typography.css');
@import url('./font.css');
@import url('./color.css');
@import url("./size.css");
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container__account{
    height:70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}
.login{
    color:transparent;
    font-size: var(--font-4);

}
.logout{
    color:transparent;
    font-size: var(--font-4);
}
.container__log{

    display:flex;
    flex-direction: column;
}
.container__log :hover{
    cursor:pointer;
    transition: 1000ms ease-in-out;
    background-color: rgb(0, 0, 0);
    border-style: solid ;
    border-radius: 5px;
    color:red;

}
.icon1{
    width:20px;
    height:15px;
}
.nav{
    text-decoration: none;
    color:var(--red-color);
}
body{
    margin:0;
    padding:0;
    background-image: url(../img/background12.jpg);
    background-position:center;
}
.signup__form{
    width:300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background:#fff;
    padding: 20px;
    margin:8% auto 0;
    text-align: center;
}

.signup__form h1{
    color: #1c8adb;
    margin-bottom:30px;
}
.input__box{
    border-radius: 20px;
    padding:10px;
    margin:10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
button{
    color:#fff;
    width:100%;
    padding:10px;
    border-radius:20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline:none;
    cursor:pointer;
}
.signup__btn{
 background-color: #1c8adb;
}
.facebook__btn{
    background-color:#21afde;
}
button a{
    text-decoration: none;
    color:#fff;
}
hr{
    margin-top: 20px;
    width:100%;
}
.or{
    background: #fff;
    width:30px;
    margin: -19px auto 10px;
}
img{
    width:70px;
    margin-top:-50px;
}
a{
    text-decoration: none;
    color:red;
}
.nav-bar {
	float: right;
	list-style: none;
	margin-top: 30px;
}
.nav-bar li {
	display: inline-block;
}
.nav-bar li a {
	color: var(--red-color);
	text-decoration: none;
	padding: 5px 20px;
	font-family:'Poppins',sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}
.nav-bar li a:hover {
	transition: 500ms ease-in-out;
	background: #fff;
	color: #333;
}
.main__nav{
    display:flex;
    flex-direction: row;
    justify-content: center;
}