:root{
    --width-1: 100px;
    --width-2: 200px;
    --width-3: 300px;
    --width-4: 400px;
    --width-5: 500px;
    --width-6: 600px;
    --width-7: 700px;
    --width-8: 800px;
    --width-9: 900px;
    --width-10: 1000px;
    --width-11: 1100px;
    --width-12: 1200px;
    --width-13:1300px;
    --width-14:1400px;
    --width-15:1500px;
    --height-1: 100px;
    --height-2: 200px;
    --height-3: 300px;
    --height-4: 400px;
    --height-5: 500px;
    --height-6: 600px;
    --height-7: 700px;
    --height-8: 800px;
    --height-9: 900px;
    --height-10: 1000px;
    --height-11: 1100px;
    --height-12: 1200px;
    
}